<main>
  <header class="bg-primary">
    <a  [routerLink]="['/']" routerLinkActive="router-link-active"  *ngIf="displaybackButton" class="btn btn-primary back-btn"><i class="fas fa-caret-left mr-2"></i>Back</a>
    <h1 class="text-white text-center p-3">Cat card app</h1>
  </header>

  <router-outlet></router-outlet>

  <footer class="bg-light">
    <div class="container text-center">
      <i class="far fa-copyright mr-1"></i><label>{{date}} - Lille 1</label>
      <span class="small font-italic infos">No cat has been hurt during the development of this app.</span>
    </div>
  </footer>
</main>