<section class="container">
    <h2>Cat card list</h2>
    <hr />
    <div class="card-group">
        <div *ngFor="let card of initialCards" class="flipper mb-3" ontouchstart="this.classList.toggle('hover');">
            <div class="front card text-center shadow-sm">
                <img class="card-img-top" [src]="card.imageUrl" alt="Cat image" width="250" height="200" />
                <div class="card-body">
                    <h5 class="card-title">{{card.title}}</h5>
                </div>
            </div>
            <div class="back card text-center shadow-sm">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{card.title}}</h6>
                    <p class="card-text">{{card.description}}</p>
                </div>
                <div class="card-footer">
                    <button [routerLink]="['/cat-card-form/',card.id]" class="btn btn-primary card-link">Edit that
                        cat</button>
                </div>
            </div>
        </div>
    </div>
    <button [routerLink]="['/cat-card-form/']" class="btn btn-lg btn-danger circle add"><i class="fas fa-plus"></i></button>
</section>